.container{
	/* max-width: 1068px; */
	margin: auto;
	width: 100%;
    height: 100%;
}

.home{
	position: relative;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	/* margin-top: 4rem;
    max-width: 1068px; */
}
.home img {
    transform: scaleX(-1);
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
    object-position: left;
	/* border-radius: 1.4rem; */
	z-index: -1;
}
.home-text{
    background-color: #333a;
	text-align: center;
    height: 13em;
    width: 30em;
    border-radius: 9px;
    padding: 29px 29px;
}
.home-text h1{
	font-size: 2.4rem;
	text-transform: uppercase;
	color: var(--text-color);
	margin-bottom: 1rem;
}
.home-text .btn{
    margin-top: 10em;
    padding: 15px 20px;
	background-color: var(--main-color);
	color: var(--text-color);
	text-transform: uppercase;
	font-size: 1rem;
	letter-spacing: 1px;
	font-weight: 500;
    border-radius: 0.5rem;
}
.home-text .btn:hover{
	background-color: var(--text-color);
    color: var(--main-color);
	transition: 0.3s all linear;
}